USE [master]
GO
/****** Object:  Database [rentcars]    Script Date: 10/27/2024 10:20:55 PM ******/
CREATE DATABASE [rentcars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rentcars', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\rentcars.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rentcars_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\rentcars_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rentcars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rentcars]
GO
/****** Object:  Table [dbo].[MsCar]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsCar](
	[Car_id] [nvarchar](36) NOT NULL,
	[name] [nvarchar](200) NULL,
	[model] [nvarchar](100) NULL,
	[year] [int] NULL,
	[license_plate] [nvarchar](50) NULL,
	[number_of_car_seats] [int] NULL,
	[transmission] [nvarchar](100) NULL,
	[price_per_day] [decimal](18, 2) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__MsCar__52395FD1DD1623D1] PRIMARY KEY CLUSTERED 
(
	[Car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsCarImages]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsCarImages](
	[Image_car_id] [nvarchar](36) NOT NULL,
	[Car_id] [nvarchar](36) NULL,
	[image_link] [nvarchar](2000) NULL,
 CONSTRAINT [PK__MsCarIma__ADBC96273B1F0878] PRIMARY KEY CLUSTERED 
(
	[Image_car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsCustomer]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsCustomer](
	[Customer_id] [nvarchar](36) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[phone_number] [nvarchar](50) NULL,
	[address] [nvarchar](500) NULL,
	[driver_license_number] [nvarchar](100) NULL,
 CONSTRAINT [PK__MsCustom__8CB382B1DA4CC8D5] PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsEmployee]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsEmployee](
	[Employee_id] [nvarchar](36) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[position] [nvarchar](4000) NULL,
	[email] [nvarchar](200) NULL,
	[phone_number] [nvarchar](36) NULL,
 CONSTRAINT [PK__MsEmploy__781228D974A19982] PRIMARY KEY CLUSTERED 
(
	[Employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrMaintenance]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrMaintenance](
	[Maintenance_id] [nvarchar](36) NOT NULL,
	[maintenance_date] [datetime2](7) NULL,
	[description] [nvarchar](4000) NULL,
	[cost] [decimal](18, 2) NULL,
	[car_id] [nvarchar](36) NULL,
	[employee_id] [nvarchar](36) NULL,
 CONSTRAINT [PK__TrMainte__CCA51FA78B21E7C8] PRIMARY KEY CLUSTERED 
(
	[Maintenance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrPayment]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrPayment](
	[Payment_id] [nvarchar](36) NOT NULL,
	[payment_date] [datetime2](7) NULL,
	[amount] [decimal](18, 2) NULL,
	[payment_method] [nvarchar](100) NULL,
	[rental_id] [nvarchar](36) NULL,
 CONSTRAINT [PK__TrPaymen__DA638B1991CB7BAE] PRIMARY KEY CLUSTERED 
(
	[Payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrRental]    Script Date: 10/27/2024 10:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrRental](
	[Rental_id] [nvarchar](36) NOT NULL,
	[rental_date] [datetime2](7) NOT NULL,
	[return_date] [datetime2](7) NULL,
	[total_price] [decimal](18, 2) NULL,
	[payment_status] [bit] NULL,
	[customer_id] [nvarchar](36) NULL,
	[car_id] [nvarchar](36) NULL,
 CONSTRAINT [PK__TrRental__9D20A03EBF374A49] PRIMARY KEY CLUSTERED 
(
	[Rental_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MsCar] ([Car_id], [name], [model], [year], [license_plate], [number_of_car_seats], [transmission], [price_per_day], [status]) VALUES (N'CAR001', N'Car 1', N'Model 1', 2016, N'B0001 XYZ', 5, N'Manual', CAST(51500.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[MsCar] ([Car_id], [name], [model], [year], [license_plate], [number_of_car_seats], [transmission], [price_per_day], [status]) VALUES (N'CAR002', N'Car 2', N'Model 2', 2017, N'B0002 XYZ', 6, N'Automatic', CAST(53000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[MsCar] ([Car_id], [name], [model], [year], [license_plate], [number_of_car_seats], [transmission], [price_per_day], [status]) VALUES (N'CAR003', N'Car 3', N'Model 3', 2018, N'B0003 XYZ', 4, N'Manual', CAST(54500.00 AS Decimal(18, 2)), 0)
GO
INSERT [dbo].[MsCarImages] ([Image_car_id], [Car_id], [image_link]) VALUES (N'01E56224-95F0-43B8-BBDC-211E4A19A707', N'CAR084', N'img/car1.jpg')
INSERT [dbo].[MsCarImages] ([Image_car_id], [Car_id], [image_link]) VALUES (N'02D9298B-0A66-4C8D-BEDD-C5704E0033DD', N'CAR005', N'img/car2.jpg')
INSERT [dbo].[MsCarImages] ([Image_car_id], [Car_id], [image_link]) VALUES (N'02F61624-4CBA-4722-B252-842C53966131', N'CAR066', N'img/car3.jpg')
GO
INSERT [dbo].[MsCustomer] ([Customer_id], [email], [password], [name], [phone_number], [address], [driver_license_number]) VALUES (N'CUS001', N'customer1@example.com', N'password1', N'Customer Name 1', N'08121', N'Address for Customer 1', N'DLN1')
INSERT [dbo].[MsCustomer] ([Customer_id], [email], [password], [name], [phone_number], [address], [driver_license_number]) VALUES (N'CUS002', N'customer2@example.com', N'password2', N'Customer Name 2', N'08122', N'Address for Customer 2', N'DLN2')
INSERT [dbo].[MsCustomer] ([Customer_id], [email], [password], [name], [phone_number], [address], [driver_license_number]) VALUES (N'CUS003', N'customer3@example.com', N'password3', N'Customer Name 3', N'08123', N'Address for Customer 3', N'DLN3')
GO
INSERT [dbo].[MsEmployee] ([Employee_id], [name], [position], [email], [phone_number]) VALUES (N'EMP01', N'Employee 1', N'Staff', N'employee1@example.com', N'123-456-7801')
INSERT [dbo].[MsEmployee] ([Employee_id], [name], [position], [email], [phone_number]) VALUES (N'EMP02', N'Employee 2', N'Staff', N'employee2@example.com', N'123-456-7802')
INSERT [dbo].[MsEmployee] ([Employee_id], [name], [position], [email], [phone_number]) VALUES (N'EMP03', N'Employee 3', N'Staff', N'employee3@example.com', N'123-456-7803')
GO
INSERT [dbo].[TrMaintenance] ([Maintenance_id], [maintenance_date], [description], [cost], [car_id], [employee_id]) VALUES (N'01092F08-0EAE-4D15-AF7E-C3F863E57360', CAST(N'2023-11-15T00:00:00.0000000' AS DateTime2), N'Perbaikan modul navigasi berbasis GPS dengan integrasi sensor dead-reckoning', CAST(308000.00 AS Decimal(18, 2)), N'CAR016', N'EMP02')
INSERT [dbo].[TrMaintenance] ([Maintenance_id], [maintenance_date], [description], [cost], [car_id], [employee_id]) VALUES (N'0198EEF1-0BAA-4A67-BF06-ADF18C4C4221', CAST(N'2023-06-15T00:00:00.0000000' AS DateTime2), N'Penggantian gasket head silinder dan inspeksi kebocoran pada sistem pendingin', CAST(1970000.00 AS Decimal(18, 2)), N'CAR011', N'EMP18')
INSERT [dbo].[TrMaintenance] ([Maintenance_id], [maintenance_date], [description], [cost], [car_id], [employee_id]) VALUES (N'01C087D9-BCB4-4359-AAA8-0DA266336619', CAST(N'2023-09-05T00:00:00.0000000' AS DateTime2), N'Penggantian suspensi udara dan kalibrasi sistem leveling otomatis', CAST(861000.00 AS Decimal(18, 2)), N'CAR010', N'EMP03')
GO
INSERT [dbo].[TrPayment] ([Payment_id], [payment_date], [amount], [payment_method], [rental_id]) VALUES (N'PY001', CAST(N'2024-10-18T08:12:47.6114610' AS DateTime2), CAST(744.05 AS Decimal(18, 2)), N'Cash', N'RTD448')
INSERT [dbo].[TrPayment] ([Payment_id], [payment_date], [amount], [payment_method], [rental_id]) VALUES (N'PY002', CAST(N'2024-10-18T08:12:47.6156567' AS DateTime2), CAST(701.28 AS Decimal(18, 2)), N'Credit Card', N'RTD266')
INSERT [dbo].[TrPayment] ([Payment_id], [payment_date], [amount], [payment_method], [rental_id]) VALUES (N'PY003', CAST(N'2024-10-18T08:12:47.6239056' AS DateTime2), CAST(502.91 AS Decimal(18, 2)), N'Debit Card', N'RTD077')
GO
INSERT [dbo].[TrRental] ([Rental_id], [rental_date], [return_date], [total_price], [payment_status], [customer_id], [car_id]) VALUES (N'RTD001', CAST(N'2024-10-18T08:09:05.7889403' AS DateTime2), CAST(N'2024-10-20T08:09:05.7889403' AS DateTime2), CAST(503139.60 AS Decimal(18, 2)), 1, N'CUS300', N'CAR130')
INSERT [dbo].[TrRental] ([Rental_id], [rental_date], [return_date], [total_price], [payment_status], [customer_id], [car_id]) VALUES (N'RTD002', CAST(N'2024-10-18T08:09:05.7971616' AS DateTime2), CAST(N'2024-10-25T08:09:05.7971616' AS DateTime2), CAST(409687.18 AS Decimal(18, 2)), 1, N'CUS024', N'CAR068')
INSERT [dbo].[TrRental] ([Rental_id], [rental_date], [return_date], [total_price], [payment_status], [customer_id], [car_id]) VALUES (N'RTD003', CAST(N'2024-10-18T08:09:05.8012519' AS DateTime2), CAST(N'2024-10-23T08:09:05.8012519' AS DateTime2), CAST(543020.27 AS Decimal(18, 2)), 1, N'CUS151', N'CAR120')
GO
ALTER TABLE [dbo].[MsCarImages]  WITH CHECK ADD  CONSTRAINT [FK__MsCarImag__Car_i__46E78A0C] FOREIGN KEY([Car_id])
REFERENCES [dbo].[MsCar] ([Car_id])
GO
ALTER TABLE [dbo].[MsCarImages] CHECK CONSTRAINT [FK__MsCarImag__Car_i__46E78A0C]
GO
ALTER TABLE [dbo].[TrMaintenance]  WITH CHECK ADD  CONSTRAINT [FK__TrMainten__car_i__4316F928] FOREIGN KEY([car_id])
REFERENCES [dbo].[MsCar] ([Car_id])
GO
ALTER TABLE [dbo].[TrMaintenance] CHECK CONSTRAINT [FK__TrMainten__car_i__4316F928]
GO
ALTER TABLE [dbo].[TrMaintenance]  WITH CHECK ADD  CONSTRAINT [FK__TrMainten__emplo__440B1D61] FOREIGN KEY([employee_id])
REFERENCES [dbo].[MsEmployee] ([Employee_id])
GO
ALTER TABLE [dbo].[TrMaintenance] CHECK CONSTRAINT [FK__TrMainten__emplo__440B1D61]
GO
ALTER TABLE [dbo].[TrPayment]  WITH CHECK ADD  CONSTRAINT [FK__TrPayment__renta__403A8C7D] FOREIGN KEY([rental_id])
REFERENCES [dbo].[TrRental] ([Rental_id])
GO
ALTER TABLE [dbo].[TrPayment] CHECK CONSTRAINT [FK__TrPayment__renta__403A8C7D]
GO
ALTER TABLE [dbo].[TrRental]  WITH CHECK ADD  CONSTRAINT [FK__TrRental__car_id__3D5E1FD2] FOREIGN KEY([car_id])
REFERENCES [dbo].[MsCar] ([Car_id])
GO
ALTER TABLE [dbo].[TrRental] CHECK CONSTRAINT [FK__TrRental__car_id__3D5E1FD2]
GO
ALTER TABLE [dbo].[TrRental]  WITH CHECK ADD  CONSTRAINT [FK__TrRental__custom__3C69FB99] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MsCustomer] ([Customer_id])
GO
ALTER TABLE [dbo].[TrRental] CHECK CONSTRAINT [FK__TrRental__custom__3C69FB99]
GO
USE [master]
GO
